### Content Table

In [31]:
import pandas as pd
content =pd.read_csv("/content/Content.csv")
content.head()

,Unnamed: 0,Content ID,User ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [32]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1000 non-null   int64
 1   Content ID    1000 non-null   object
 2   User ID       1000 non-null   object
 3   Content Type  1000 non-null   object
 4   Category      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [33]:
content.drop('Unnamed: 0',axis=1,inplace=True)

###Reaction Types Table

In [34]:
import pandas as pd
reaction_type=pd.read_csv("/content/ReactionTypes.csv")
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [35]:
reaction_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 640.0+ bytes

In [36]:
reaction_type.drop('Unnamed: 0',axis=1,inplace=True)

### Reaction Table

In [37]:
import pandas as pd
reaction=pd.read_csv("/content/Reactions.csv")
reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime,Unnamed: 5
0,0.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22/04/2021 00:00,NaN
1,NaN,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07/11/2020 00:00,NaN
2,NaN,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17/06/2021 00:00,NaN
3,NaN,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18/04/2021 00:00,NaN
4,NaN,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06/01/2021 00:00,NaN

In [38]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3019 non-null   float64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
 5   Unnamed: 5  3016 non-null   object
dtypes: float64(1), object(5)
memory usage: 1.2+ MB

In [39]:
reaction.drop('Unnamed: 0',axis=1,inplace=True)

In [40]:
reaction.drop('Unnamed: 5',axis=1,inplace=True)

### Merge Table

In [41]:
data = content.merge(reaction, how='left', on='User ID')

In [42]:
data.head()

,Content ID_x,User ID,Content Type,Category,Content ID_y,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,5118e9c5-1377-4cc5-a486-65b35b7b7b76,intrigued,28/07/2020 00:00
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,850fe90d-47d6-4eb7-b9c8-810afcb99ce9,hate,29/05/2021 00:00
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,07f88a73-aef2-45fd-8b5d-418e448b853d,hate,19/01/2021 00:00
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,457301ee-3e87-40d8-8b82-ea4e1fa90e39,want,10/08/2020 00:00
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,497da46d-d5d5-45b0-827a-f2b75d7bf4c2,interested,24/01/2021 00:00

In [43]:
data = data.merge(reaction_type, how='left', on='Type')

In [44]:
data.head()

,Content ID_x,User ID,Content Type,Category,Content ID_y,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,5118e9c5-1377-4cc5-a486-65b35b7b7b76,intrigued,28/07/2020 00:00,positive,45
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,850fe90d-47d6-4eb7-b9c8-810afcb99ce9,hate,29/05/2021 00:00,negative,5
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,07f88a73-aef2-45fd-8b5d-418e448b853d,hate,19/01/2021 00:00,negative,5
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,457301ee-3e87-40d8-8b82-ea4e1fa90e39,want,10/08/2020 00:00,positive,70
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,497da46d-d5d5-45b0-827a-f2b75d7bf4c2,interested,24/01/2021 00:00,positive,30

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44877 entries, 0 to 44876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID_x  44877 non-null  object
 1   User ID       44877 non-null  object
 2   Content Type  44877 non-null  object
 3   Category      44877 non-null  object
 4   Content ID_y  44877 non-null  object
 5   Type          44877 non-null  object
 6   Datetime      44877 non-null  object
 7   Sentiment     44877 non-null  object
 8   Score         44877 non-null  int64
dtypes: int64(1), object(8)
memory usage: 3.4+ MB

In [46]:
data.to_csv('combined.csv', index = False)

In [54]:
data.groupby('Category').agg({"Type" : "count"}).reset_index().sort_values(by='Type', ascending=False).head(5)

      Category  Type
25  technology  3175
13     animals  3055
27      travel  3034
22     science  2931
15     culture  2930

In [55]:
data.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by='Score', ascending=False).head()

      Category   Score
25  technology  125840
27      travel  122313
13     animals  120748
15     culture  119276
22     science  115433